* {
    padding: 0;
}

body {
    box-shadow: 1px 1px 2px #aaa;
    color: #9e006e;
    padding: 2em;
}

[main-head] {
    text-align: center;
}

[header] {
    padding-top: 1em; 
    font-family: 'Almendra', serif;
}

[tag] {
   margin: 20px;
}

.texts {
    margin-left: 3em;
    padding: 10px;
}

[info] {
  display: flex; 
  margin: 20px;
}

[right] {
    margin-left: 15em;
}

.info-work-date {
    margin: 5em;
}

[hobby] {
    display: inline-block;
}

[src] {
    align-self: auto;
   border-radius: 10px;
}

/* contact */
[contact] {
    text-align: center;
}

.input {
    border: 2px solid #9e006e;
    border-radius: 5px;
    padding: 10px;
    margin: 0.5em;
}

#submit {
    background-color: #9e006e;
    color: #ffffff;
}

.message{
    display: none;
    color: red;
}

#icon{
     display: none;
     font-size: 3em;
     color: #01f802;
     transition-delay: 3s;
}


/* media query */
@media only screen and (max-width: 720px) {

    [tag] {
       margin: 20px;
    }
    
    .texts {
        margin-left: 2em;
        text-align: justify;
        padding: 10px;
    }
    
    [info] {
      display: flex; 
    }
    
    [right] {
        margin-left: 0.5em;
    }
    
    .info-text {
        margin: 2em 0 !important;
    }
    
    [src] {
        margin: 0;
        padding: 0;
        width: 100%;
        border-radius: 10px;
    }

    /* contact */
    #textarea {
        margin: 0.5em 0;
    }
}